@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fcfaf8;
  line-height: 120%;
  font-weight: 300;
}

@layer components {
  .transition-add {
    @apply transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-200;
  }
}

@layer components {
  .nav_link-items {
    @apply text-white uppercase font-medium md:text-base text-md border-b-[.125rem] text-center px-[1rem] pb-[1.5rem] md:pb-0 md:px-0 border-secondary last:border-b-0 last:pb-0 md:border-0 cursor-pointer tracking-wider md:tracking-normal;
  }
}

.heading-svg-container::before {
  content: '';
  position: absolute;
  display: flex;
  align-self: center;
  display: inline-block;
  left: 40%;
  right: 50%;
  top: -23%;
  width: 27px;
  height: 27px;
  background-image: url('./assets/svg/ion_diamond.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 640px) {
  .heading-svg-container::before {
    top: -36%;
  }
}

.btn-cta {
  background: radial-gradient(
    231% 135.8% at 0.9% 2.98%,
    rgba(255, 165, 0, 0.4) 0%,
    rgba(255, 165, 0, 0) 100%
  );
  backdrop-filter: blur(21px);
}

.border-style {
  border: 1px solid rgba(50, 75, 109, 0.1);
}

.active {
  color: #a27738;
}
